# Very secure, I know.
USER="admin"
PASS="admin"

# Credentials.
export DATABASE_USER=$USER
export DATABASE_PASSWORD=$PASS
export DATABASE_NAME=postgres
export PGADMIN_EMAIL=$USER@pgadmin.com
export PGADMIN_PASSWORD=$PASS

# Ports!
export SERVER_RPC_PORT=9001
export POSTGRESQL_PORT=9002
export PGADMIN_PORT=9003

# A complete URL for future use.
export DATABASE_URL="postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@localhost/${DATABASE_NAME}"
