# Very secure, I know.
USER="admin"
PASS="admin"

# Database.
export POSTGRES_USER="${USER}"
export POSTGRES_PASSWORD="${PASS}"
export POSTGRES_DB="postgres"
export POSTGRES_HOST="postgres-db"
export PGPORT="9002"

# PgAdmin.
export PGADMIN_DEFAULT_EMAIL="${USER}@pgadmin.com"
export PGADMIN_DEFAULT_PASSWORD="${PASS}"
export PGADMIN_PORT="9003"
export PGADMIN_THEME="dark"

# Redis.
export REDIS_HOST="redis-kv"
export REDIS_PORT="6379"

# Server.
export SERVER_PORT="9001"

# A complete URLs for future use.
export DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:localhost/${POSTGRES_DB}"
export DOCKER_DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${PGPORT}/${POSTGRES_DB}"
export KV_URL="redis://localhost:${REDIS_PORT}"
export DOCKER_KV_URL="redis://${REDIS_HOST}:${REDIS_PORT}"
