<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TCP Chat | Auth</title>
        <link rel="stylesheet" href="../css/auth.css">
	</head>
	<body>
		<h2>Команда БАДИБИЛДИНГ</h2>
		<div class="container" id="container">
			<div class="form-container sign-up-container">
				<form action="#">
					<h1>Создать аккаунт</h1>
					<input type="text" placeholder="Логин" />
					<input type="password" placeholder="Пароль" />
					<button style="border: none; cursor: pointer;">Зарегистрироваться</button>
				</form>
			</div>
			<div class="form-container sign-in-container">
				<form action="#">
					<h1>Войти в аккаунт</h1>
					<span></span>
					<input type="email" placeholder="Логин" />
					<input type="password" placeholder="Пароль" />
					<button style="border: none; cursor: pointer;">Войти</button>
				</form>
			</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-left">
						<h1>Рад снова тебя видеть!</h1>
						<p>Уже есть аккаунт? Самое время войти!</p>
						<button class="ghost" id="signIn" style="cursor: pointer; border-color: #FFF;">Вход</button>
					</div>
					<div class="overlay-panel overlay-right">
						<h1>Привет, друг!</h1>
						<p>Давай познакомимся и начнём наше путешествие!</p>
						<button class="ghost" id="signUp" style="cursor: pointer; border-color: #FFF;">Зарегистрироваться</button>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script src="../scripts/auth.js"></script>
</html>